[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/emsdk"]
	path = third_party/emsdk
	url = https://github.com/emscripten-core/emsdk
